<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urgencias</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
</head>
<body>
    <table class="table table-hover" align="center" style="width:1325px; height:625px; margin-top:5px;">
        <tbody>
          <tr>
            <td class="table-active"> <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh5o44hqc4IkfViwdsmHoz-6KaUf-SQEtEl9IW7t73LtmKynLoXVTTNU4hmazIdPkl9xDQDSp_1LiQmDkTj-agcUp7dUpBAi_K2xSV--fS2ePfxZKYnSgodS7JCdYUdfYruekWvnCtRbYBKA1_0mAD5GjMhaV7Wir6M7U11CuKc9Qzxp9iTOYKBj0_S/w945-h600-p-k-no-nu/Principal_foto.jpg" alt="Las_Americas"> </td>
            <td class="table-active"><div class="btn-group-vertical">
              <a href="/paciente" class="btn btn-primary" align="center" border="1" style="margin-top:5px;">Paciente</a>
              <br>
              <a href="/medico" class="btn btn-primary" align="center" border="1" style="margin-top:5px;">Medico</a>
              <br>
              <a href="/enfermero" class="btn btn-primary" align="center" border="1" style="margin-top:5px;">Enfermero</a>
              <br>
              <a href="/medicamento" class="btn btn-primary" align="center" border="1" style="margin-top:5px;">Medicamento</a>
              <br>
              <a href="/cubiculo" class="btn btn-primary" align="center" border="1" style="margin-top:5px;">Cubiculo</a>
              <br>
              <a href="/ambulancia" class="btn btn-primary" align="center" border="1" style="margin-top:5px;">Ambulancia</a>
              <br>
              <a href="/registro" class="btn btn-primary" align="center" border="1" style="margin-top:5px;">Registro de paciente</a>
              <br>
              <a href="/atencion" class="btn btn-primary" align="center" border="1" style="margin-top:5px;">Atencion</a>
              <br>
            </div></td>
          </tr>
        </tbody>
      </table>
</body>
</html>